html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ico { display: inline-block; vertical-align: top; }
.ico.ico-clock { background: url('../img/icons-se58ca420f6.png') 0 -43px no-repeat; width: 23px; height: 23px; }
.ico.ico-map { background: url('../img/icons-se58ca420f6.png') 0 -96px no-repeat; width: 13px; height: 19px; }
.ico.ico-select { background: url('../img/icons-se58ca420f6.png') 0 -150px no-repeat; width: 10px; height: 15px; }
.ico.ico-heart { background: url('../img/icons-se58ca420f6.png') 0 -76px no-repeat; width: 11px; height: 10px; }

@font-face { font-family: "Nexa Heavy"; src: url("fonts/nexaheavy.eot"); src: url("fonts/nexaheavy.eot?#iefix") format("embedded-opentype"), url("fonts/nexaheavy.woff2") format("woff2"), url("fonts/nexaheavy.woff") format("woff"), url("fonts/nexaheavy.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Nexa Bold"; src: url("fonts/nexabold.eot"); src: url("fonts/nexabold.eot?#iefix") format("embedded-opentype"), url("fonts/nexabold.woff2") format("woff2"), url("fonts/nexabold.woff") format("woff"), url("fonts/nexabold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Nexa Regular"; src: url("fonts/nexaregular.eot"); src: url("fonts/nexaregular.eot?#iefix") format("embedded-opentype"), url("fonts/nexaregular.woff2") format("woff2"), url("fonts/nexaregular.woff") format("woff"), url("fonts/nexaregular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Helvetica"; src: url("fonts/helvetica.eot"); src: url("fonts/helvetica.eot?#iefix") format("embedded-opentype"), url("fonts/helvetica.woff2") format("woff2"), url("fonts/helvetica.woff") format("woff"), url("fonts/helvetica.ttf") format("truetype"); font-weight: normal; font-style: normal; }
a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, em, strong, i, th, td { font-weight: normal; font-style: normal; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

b { font-weight: bold; }

h2 { color: #707070; font-family: "Nexa Bold", Arial, sans-serif; font-size: 30px; font-weight: 700; line-height: 1.2; }

.in, .header__in, .line__in, .l__in, .footer__in { width: 940px; margin: auto; }

.import { color: #f26c4f; }

.header { min-height: 136px; }
.header__col1 { float: left; }
.header__col2 { float: right; }
.header__top { background-color: #373737; }
.header__in { *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__search { width: 300px; height: 46px; margin: 11px 0; position: relative; }
.header__search input { border: none; }
.header__search input:focus { outline: none; }
.header__search input[type=search] { -webkit-appearance: none; width: 100%; height: 100%; background-color: white; box-shadow: 0 1px 1px black; padding: 5px 40px 5px 20px; }
.header__search input[type=search]::-webkit-search-cancel-button { -webkit-appearance: none; }
.header__search input[type=submit] { display: block; font-size: 0; background-color: transparent; position: absolute; top: 50%; right: 13px; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); background: url('../img/icons-se58ca420f6.png') 0 -43px no-repeat; width: 23px; height: 23px; }
.header__bot { background-color: #474747; }
.header__links { font-size: 0; }
.header__links li { position: relative; display: inline-block; vertical-align: top; margin: 24px 0 24px 19px; padding: 0 16px 0 0; }
.header__links li:after { display: block; content: ""; position: absolute; top: -3px; right: 0; height: 25px; border-right: 1px solid #767676; }
.header__links li a { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.21); color: #d5d5d5; font-family: "Nexa Bold", Arial, sans-serif; font-size: 12px; font-weight: 700; }
.header__links .links_ico { display: inline-block; vertical-align: middle; }
.header__links .links__map { margin-left: 9px; background: url('../img/icons-se58ca420f6.png') 0 -96px no-repeat; width: 13px; height: 19px; }
.header__links .links__select { margin-left: 11px; background: url('../img/icons-se58ca420f6.png') 0 -150px no-repeat; width: 10px; height: 15px; }

.logo { display: inline-block; line-height: 1; font-size: 0; }
.logo span { background-color: #f26c4f; display: inline-block; vertical-align: middle; width: 78px; height: 68px; font-family: "Nexa Heavy", Arial, sans-serif; color: white; font-size: 36px; font-weight: 400; line-height: 60px; text-align: center; position: relative; }
.logo span:after { display: block; content: ""; position: absolute; right: -13px; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); width: 13px; height: 26px; border-top: 13px solid transparent; border-bottom: 13px solid transparent; border-left: 13px solid #f26c4f; }
.logo h1 { display: inline-block; vertical-align: middle; margin-left: 22px; font-family: "Nexa Regular", Arial, sans-serif; font-size: 18px; color: white; font-family: "Nexa Regular", Arial, sans-serif; }

.nav { font-size: 0; }
.nav li { display: inline-block; vertical-align: top; padding: 24px 0; -moz-transition: all 0.4s; -o-transition: all 0.4s; -webkit-transition: all 0.4s; transition: all 0.4s; }
.nav li.active, .nav li:hover { border-bottom: 4px solid #f26c4f; }
.nav li a { padding: 0 23px; color: #fff; font-family: "Nexa Bold", Arial, sans-serif; font-size: 12px; border-right: 1px solid #767676; }

.line { min-height: 71px; line-height: 71px; background-color: #ebebeb; }
.line__in { *zoom: 1; }
.line__in:after { content: " "; display: table; clear: both; }
.line__col { float: right; }
.line__soc { font-size: 0; }
.line__soc li { display: inline-block; vertical-align: top; margin-right: 30px; }
.line__soc li:last-child { margin-right: 0; }
.line__soc a { text-shadow: 0 1px 0 white; color: #8f8f8f; font-family: "Nexa Bold", Arial, sans-serif; font-size: 12px; font-weight: 700; display: inline-block; vertical-align: middle; }
.line .soc__tw { background: url('../img/icons-se58ca420f6.png') 0 -215px no-repeat; width: 13px; height: 10px; display: inline-block; vertical-align: middle; margin-right: 9px; }
.line .soc__fb { background: url('../img/icons-se58ca420f6.png') 0 -20px no-repeat; width: 6px; height: 13px; display: inline-block; vertical-align: middle; margin-right: 9px; }
.line .soc__rss { background: url('../img/icons-se58ca420f6.png') 0 -195px no-repeat; width: 9px; height: 10px; display: inline-block; vertical-align: middle; margin-right: 9px; }
.line .soc__mail { background: url('../img/icons-se58ca420f6.png') 0 -175px no-repeat; width: 13px; height: 10px; display: inline-block; vertical-align: middle; margin-right: 9px; }

.l { background-color: #ebebeb; }
.l__in { *zoom: 1; }
.l__in:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: right; width: 300px; }
.l .l-col2 { overflow: hidden; margin-right: 320px; }

.banner { background-color: #373737; position: relative; }
.banner__block { padding: 24px 35px 44px 30px; }
.banner h3 { color: white; font-family: "Nexa Bold", Arial, sans-serif; font-size: 25px; font-weight: 700; line-height: 31px; margin-bottom: 12px; }
.banner p { font: 400 12px/21px Arail, sans-serif; color: #fff; }

.post { background-color: #FFF; padding: 30px 30px 75px 50px; position: relative; }
.post h2 { margin-bottom: 14px; }
.post p { font: 400 12px/22px Arial, sans-serif; }
.post .post__first { color: #707070; font-family: "Nexa Bold", Arial, sans-serif; font-size: 14px; font-weight: 700; line-height: 25px; margin-bottom: 20px; }
.post__bot { position: absolute; left: 0; bottom: 0; width: 100%; height: 41px; background-color: #ebebeb; box-shadow: 0 1px 1px black; }

.footer { min-height: 250px; background-color: #373737; font-size: 0; }
.footer__in { *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__col1 { float: left; }
.footer__col2 { float: right; }
.footer__top { background-color: #474747; }
.footer__links { position: relative; margin: 50px 0 20px; }
.footer__links li { display: inline-block; vertical-align: top; margin-right: 20px; }
.footer__links li a { font-size: 12px; color: #fff; font-family: "Helvetica", Arial, sans-serif; }
.footer__links li a:hover { text-decoration: underline; }
.footer__text { color: #7e7e7e; font-family: "Helvetica", Arial, sans-serif; font-size: 11px; font-weight: 400; line-height: 21px; padding-right: 175px; }
